# Suicides in India 2001-2012

In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("C:\\Users\\manish\\Desktop\\Datasets\\Suicides in India 2001-2012.csv")

In [5]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237519 entries, 0 to 237518
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   State      237519 non-null  object
 1   Year       237519 non-null  int64
 2   Type_code  237519 non-null  object
 3   Type       237519 non-null  object
 4   Gender     237519 non-null  object
 5   Age_group  237519 non-null  object
 6   Total      237519 non-null  int64
dtypes: int64(2), object(5)
memory usage: 12.7+ MB

## QUES.:- Cause of Divorce home much people died(Define based on Age-Group and Gender).

In [15]:
df[df.Type=='Divorce'].groupby(df['Age_group']).Total.sum()

Age_group
0-14        5
15-29    1552
30-44    1904
45-59     615
60+        57
Name: Total, dtype: int64

In [16]:
df[df.Type=='Divorce'].groupby(df['Gender']).Total.sum()

Gender
Female    2535
Male      1598
Name: Total, dtype: int64

## Ques:- In which city mostly youngster(15-29) unemployed died...?

In [17]:
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

In [28]:
df[(df['Type']=='Unemployed') & (df['Age_group']== '15-29')].groupby(df['State']).Total.sum().sort_values(ascending= False)

State
Tamil Nadu           7219
West Bengal          6053
Maharashtra          5393
Kerala               3607
Andhra Pradesh       3084
Karnataka            2783
Gujarat              2536
Odisha               2329
Delhi (Ut)           1916
Madhya Pradesh       1871
Uttar Pradesh        1864
Chhattisgarh         1577
Haryana              1226
Rajasthan             905
Puducherry            525
Assam                 456
Tripura               450
Punjab                367
Jharkhand             332
Goa                   292
Bihar                 286
Himachal Pradesh      242
Jammu & Kashmir       197
Uttarakhand           177
Mizoram               108
Sikkim                 96
Chandigarh             95
Meghalaya              87
A & N Islands          57
Arunachal Pradesh      48
Manipur                25
Nagaland               20
D & N Haveli           17
Daman & Diu             2
Lakshadweep             0
Name: Total, dtype: int64

## Ques:- Most death cause and ways by sucide in india?

In [29]:
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

In [30]:
df[(df['Type_code']=='Causes')].groupby(df['Type']).Total.sum().sort_values(ascending= False)

Type
Family Problems                                   341952
Causes Not known                                  237069
Other Causes (Please Specity)                     216050
Other Prolonged Illness                           194565
Insanity/Mental Illness                            94229
Love Affairs                                       45039
Bankruptcy or Sudden change in Economic            32755
Poverty                                            32684
Dowry Dispute                                      31970
Drug Abuse/Addiction                               30046
Unemployment                                       27365
Failure in Examination                             27005
Property Dispute                                   18652
Suspected/Illicit Relation                         14911
Fall in Social Reputation                          13464
Professional/Career Problem                        12554
Cancellation/Non-Settlement of Marriage            11296
Death of Dear Person                               10321
Cancer                                              9058
Illness (Aids/STD)                                  8723
Not having Children(Barrenness/Impotency            7822
Paralysis                                           7286
Divorce                                             4133
Physical Abuse (Rape/Incest Etc.)                   3992
Bankruptcy or Sudden change in Economic Status      2655
Illegitimate Pregnancy                              2494
Ideological Causes/Hero Worshipping                 2118
Not having Children (Barrenness/Impotency            766
Name: Total, dtype: int64

In [31]:
df[(df['Type_code']=='Means_adopted')].groupby(df['Type']).Total.sum().sort_values(ascending= False)

Type
By Hanging                                 460955
By Consuming Insecticides                  275501
By Consuming Other Poison                  231178
By Other means (please specify)            135132
By Fire/Self Immolation                    128006
By Drowning                                 96711
By coming under running vehicles/trains     45299
By Over Alcoholism                          15973
By touching electric wires                  10816
By Overdose of sleeping pills                9960
By Other means                               9238
By Jumping from (Other sites)                8127
By Jumping off Moving Vehicles/Trains        8116
By Jumping from (Building)                   7871
By Fire-Arms                                 6294
By Self Infliction of injury                 5093
By Machine                                   1661
Name: Total, dtype: int64

## Ques:- Most people died in city-wise...?

### Youngester(15-29)

In [33]:
df[(df['Type_code']=='Causes') & (df['Age_group']== '15-29')].groupby(df['State']).Total.sum().sort_values(ascending= False)

State
Maharashtra          68290
West Bengal          56688
Andhra Pradesh       55121
Tamil Nadu           52468
Karnataka            46560
Madhya Pradesh       40670
Gujarat              26181
Chhattisgarh         22048
Kerala               21285
Uttar Pradesh        20480
Odisha               19665
Rajasthan            19151
Assam                13384
Haryana              11593
Delhi (Ut)            8861
Bihar                 3720
Punjab                3675
Tripura               3660
Jharkhand             3572
Puducherry            2251
Himachal Pradesh      2074
Uttarakhand           1654
Jammu & Kashmir       1380
Goa                   1220
Sikkim                 747
A & N Islands          630
Arunachal Pradesh      572
Chandigarh             531
Meghalaya              495
Mizoram                386
D & N Haveli           303
Manipur                198
Daman & Diu            131
Nagaland               130
Lakshadweep              2
Name: Total, dtype: int64

### All

In [34]:
df[(df['Type_code']=='Causes')].groupby(df['State']).Total.sum().sort_values(ascending= False)

State
Maharashtra          180389
Tamil Nadu           163813
Andhra Pradesh       162820
West Bengal          161030
Karnataka            146965
Kerala               107936
Madhya Pradesh        90307
Gujarat               66177
Chhattisgarh          60495
Odisha                53448
Rajasthan             51027
Uttar Pradesh         46680
Assam                 34469
Haryana               29437
Delhi (Ut)            16857
Jharkhand              9950
Punjab                 9270
Bihar                  9245
Tripura                9194
Puducherry             6429
Himachal Pradesh       5319
Uttarakhand            3702
Goa                    3475
Jammu & Kashmir        2968
Sikkim                 1924
A & N Islands          1623
Arunachal Pradesh      1328
Meghalaya              1086
Chandigarh             1034
Mizoram                 834
D & N Haveli            686
Manipur                 421
Nagaland                347
Daman & Diu             279
Lakshadweep              10
Name: Total, dtype: int64